#ul1 {
  border-style: inset;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #483D8B;
    }
    
    li {float: left;}
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 18px 18px;
      text-decoration: none;
    }
  
  
  
  #body1{background-image:url("GettyImages-1314656208.webp");}
    
  #tekst1{
    font-family: Lucida Console, Monospace;
    color: White;
    border-radius: 25px;
    background: #483D8B;
    border-style: inset;
    width: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 100px;
    margin: 200px;
  }
  
  h1{
    font-family: Lucida Console, Monospace;
    color: White;
    font-size: 20px;
  }
  
  #imghtml {
    border-radius: 25px;
    float: right;
    margin-right: 330px;
    margin-top: 160px;  
  }
  
  footer{
    color: White;
    background-color: #483D8B;
    float: left;
    width: 100%;
    text-align: center;
  }
  
  
  .inhoud {
    display: none;
    position: absolute;
    background-color: #483D8B;
    min-width: 160px;
  }
  
  .inhoud a {
    color: White;
    padding: 10px 14px;
    display: block;
  }
  
  .inhoud a:hover {background-color: #3f3579}
  
  .dropdown:hover .inhoud {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3f3579;}



  .kleur {
    position: relative;
    max-width: 100%; /* Maximum width */
    margin: 0 auto; /* Center it */
    z-index: -1;
  }
  
  .kleur .content {
    position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: White; /* Grey text */ 
    font-size: 20px;
    padding-top: 184px;
    padding-right: 600px;
    padding-bottom: 184px;
    padding-left: 600px; /* Some padding */
  }
  
  .h2{
    font-size: 40px;
    text-align: center;
  }
  
  p{
    text-align: center;
    font-family: Verdana, sans-serif;
  }
  
  .tekst2{
    font-family: Verdana, sans-serif;
    color: white;
    border-radius: 25px;
    background: #483D8B;
    border-style: inset;
    width: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 40px;
    margin: 10px;
    float: left;
  }
  
  h3 {text-align: center;}

  a:link, a:visited {
    background-color: #483D8B;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }