#ul1 {
  border-style: inset;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #483D8B;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 18px 18px;
      text-decoration: none;
    }
  
  
  
  #body1{
      background-image:url("GettyImages-1314656208.jpg");
  }
    
  #tekst1{
    font-family: Lucida Console, Monospace;
    color: White;
    border-radius: 25px;
    background: #483D8B;
    border-style: inset;
    width: 500px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 100px;
    margin: 200px;
  }
  
  h1{
    font-family: Lucida Console, Monospace;
    color: White;
    font-size: 20px;
  }
  
  #imghtml {
    float: right;
    margin-right: 450px;
    margin-top: 165px;  
  }
  
  footer{
    color: White;
    background-color: #483D8B;
    float: left;
    width: 100%;
    text-align: center;